/* CSS declarations go here */
*{
  font-family:sans-serif;
}
div {
  margin-left: 20px;
}

form{
  text-align: center;
}

.patients th {
  width: 150px;
}

#tableProblems{
  margin: 0 auto 0 auto;
  text-align: left
}

tr {
  min-height: 120px;
  width: 400px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

td{
  min-width: 150px;
}