/* CSS declarations go here */

div {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  text-align:center;
}

form{
  text-align: center;
}

.patients th {
  width: 150px;
}

#tableProblems{
  margin: 0 auto 0 auto;
  text-align: left
}