/* CSS declarations go here */

/*div {
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}*/

body {
  background-image: url("http://i.ytimg.com/vi/o4gXJxG-BSo/maxresdefault.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color:white;
}

.btn {
  height:40px;
  border-radius: 3px;
}

.botSpace{
  margin-bottom:30px;
}

input{
  height:40px;
  color:black;
}

.patients th {
  width: 150px;
}

#patientName{
  width:280px;
}

#tableProblems{
  margin: 0 auto 0 auto;
  text-align: left
}

table {
  background: rgba(120,120,120,.84);
}

tr {
  min-height: 120px;
  width: 400px;
}

#commentArea{
  min-height:150px;
  min-width:400px;
  resize:both;
  color:black;
}

td{
  padding: 6px 6px 6px 6px;
  min-width: 150px;
  border: 2px 2px 2px 2px solid grey;
}